@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  font-family: 'Lato', sans-serif;
}
.container-center{
  @apply flex items-center justify-center flex-col;
}

.font-title{
  font-family: 'Abril Fatface', cursive;
}

.nav-item{
  @apply cursor-pointer;
}

.nav-item:hover{
  @apply text-main;
}
.btn-primary{
  @apply border px-6 py-3  border-main bg-main text-white;
}

.glassmore{
background: rgb(255 255 255 / 3%);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.4px);
-webkit-backdrop-filter: blur(4.4px);
}

/*  bg-white-400 rounded-md bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-10 border border-gray-100; */