@tailwind base;
@tailwind components;
@tailwind utilities;


.input-field{
  border: 1px solid rgba(214, 214, 214, 0.8);
  border-radius: 5px;
  padding:11px 22px;
  width: 100%;
}

.upload-field{
  background: rgba(30, 71, 255, 0.1);
  border: 1px dashed #1E47FF;
  border-radius: 5px;
  padding:11px 22px;
  width: 100%;
}
.upload-field-error{
  background: rgba(255, 30, 30, 0.1);
  border: 1px dashed #ff1e1e;
  border-radius: 5px;
  padding:11px 22px;
  width: 100%;
}

.info-btn{
  @apply bg-info mt-6 text-white rounded w-full py-3;
}

