@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  font-family: 'Poppins', sans-serif;
  color:white;
}
.container-center{
  @apply flex items-center justify-center flex-col;
}

.font-title{
  /* font-family: 'Abril Fatface', cursive; */
}

.links{
  background:#27303f;
  @apply rounded-sm cursor-pointer flex gap-2 font-medium text-base py-2  items-center px-3;
}

.links:hover{
  background:#313c4f;
}

.nav-item{
  @apply cursor-pointer;
}

.nav-item:hover{
  color:#B7CAD9
}
.btn-primary{
  @apply border px-6 py-3  border-main bg-main text-white;
}

.shadow{
  box-shadow: 0px 10px 12px 0px rgb(0 0 0 / 13%);
}

.stepper{
@apply relative;
}

.stepper::before{
  content:'';
  width:15px;
  height:15px;
  top:49%;
  left:-7px;
  @apply absolute bg-white rounded-full ; 
}